@use '../custom' as *;
@use '../components/mixins' as *;

.hero_area {
  @include bgGradient;
  height: 100%;
  width: 100%;
  padding: 10rem 0 0 0;
}

.intros {

  .video_box {
    position: relative;
    a {
      // @include absoluteCenter;
      span {

        i{
          font-size: 6rem;
          color: $secondary
        }
      }
    }
  }
}

.border_animation {
  position: absolute;
  width: 6rem;
  height: 6rem;
  border: 0.55rem solid rgba($white, 0.7);
  border-radius: 50%;
  top: 0;
  left: 0;
  animation: pulse-border 1.5s linear infinite;

  &--border_1 {
    animation-delay: 1s;
  }
  &--border_2 {
    animation-delay: 1.2s;
  }
}