@use '../custom' as *;

// Hero Area Start
.display-2 {
  margin-bottom: 1rem;
  text-transform: capitalize;

  &--intro{
    display: inline-block;
    font-weight: 700;
    font-family: $primaryBodyFont;
  }

  &--description {
    font-size: 1rem;
    display: block;
    margin-top: 1rem;
    font-family: $primaryBodyFont;

    @include media-breakpoint-up (lg) {
      font-size: 1.2rem;
      display: inline-block;
    }
  }
}

// Heading Line
.heading_line::before {
  content: '';
  width: 10rem;
  height: 0.1rem;
  display: block;
  margin: 0 auto;
  background-color: $primary;
}
.heading_line::after {
  content: '';
  width: 2rem;
  height: 0.5rem;
  margin: 0 auto;
  display: block;
  background-color: $primary;
}