@use '../custom' as *;

// Hero Area Start
.display-2 {
  margin-bottom: 1rem;
  text-transform: capitalize;

  &--intro{
    display: inline-block;
    font-weight: 700;
    font-family: $primaryBodyFont;
  }

  &--description {
    font-size: 1rem;
    display: block;
    margin-top: 1rem;
    font-family: $primaryBodyFont;

    @include media-breakpoint-up (lg) {
      font-size: 1.2rem;
      display: inline-block;
    }
  }
}